<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatile" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/navbar.css">
  <link rel="stylesheet" href="/css/eventPage.css">
  <title><%= title %></title>
</head>
<body>
  <%- include ('../includes/navbar') -%>
  <div id="content">
    <h1 id="event-name"><%= event.name %></h1>
    <p id="event-description"><%= event.description %></p>
    <div id="event-date">
      <p>
        <span><%= event.day %> <%= event.month %> <%= event.year %></span>
      </p>
    </div>
    
    <div class="container">
      <div class="image">
        <% if (event.image != null) { %>
          <img src="images/uploads/<%- event.image %>" class="image">
        <% } else { %>
          <span>No image</span>
        <% } %>
      </div>
    </div>

    <% if (username != 'none') { %>
      <% if (userPrivilege == "Admin") { %>
        <div class="edit-container">
          <form action="/update" method="GET">
            <button type="submit" class="btn" id="update-btn">Update</button>
            <input type="hidden" name="id" id="id" value="<%= event.id %>"></form>
          </form>
        </div>
      <% } %>
  
      <% if (userEvent.length <= 0) { %>
        <div class="signup-container">
          <form action="/signup" method="POST">
            <button type="submit" class="btn" id="signup-btn">Signup for event</button>
            <input type="hidden" name="id" id="id" value="<%= event.id %>"></form>
          </form>
        </div>
      <% } else { %>
      <div class="withdraw-container">
        <form action="/cancel" method="POST">
          <button type="submit" class="btn" id="withdraw-btn">Withdraw from event </button>
          <input type="hidden" name="id" id="id" value="<%= event.id %>"></form>
        </form>
      </div>
      <% } %>
    <% } else { %>
      <p class="msg">To sign up for an event, please log in.</p>
    <% } %>
  </div>
</body>
</html>