<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatile" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/eventPage.css">
  <link rel="stylesheet" href="/css/navbar.css">
  <title><%= title %></title>
</head>
<body>
  <%- include ('../includes/navbar') -%>
  <div id="content">
    <h1><%= event.name %></h1>
    <p><%= event.description %></p>
    <div class="date">
      <p>
        <span class="day">
          <%= event.date %>
        </span>
      </p>
    </div>
    <% if (username != 'none') { %>
      <% if (userPrivilege == "Admin") { %>
        <form action="/updateEvent" method="GET"><button type="submit" class="customBtn">Update</button>
          <input type="hidden" name="idEvent" id="idEvent" value="<%= event.id %>"></form>
        </form>
        <!-- <button> <a href="">Edit</a> </button>  -->
      <% } %>

      <% if (userEvent.length <= 0) { %>
        <form action="/signup" method="POST">
          <button type="submit" class="btn">Signup for event</button>
          <input type="hidden" name="idEvent" id="idEvent" value="<%= event.id %>"></form>
        </form>
      <% } else { %>
        <form action="/cancel" method="POST">
          <button type="submit" class="btn">Withdraw from event </button>
          <input type="hidden" name="idEvent" id="idEvent" value="<%= event.id %>"></form>
        </form>
      <% } %>
    <% } else { %>
      <p>To sign up for an event, please log in.</p>
    <% } %>
    <div class="imgContainer">
      <img src="images/uploads/<%- event.image %>" class="image">
    </div>

  </div>
</body>
</html>