<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatile" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="css/navbar.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <link rel="stylesheet" type="text/css" href="css/eventEditor.css">
</head>
<body>
<%- include ('../includes/navbar') -%>
<div id="content">
    <% if (operation == 'create') { %>
      <form action="/create" id="create" method="POST" enctype="multipart/form-data">
        <input type="text" name="name" class="name" placeholder="Event name">
        <input type="text" name="description" id="description" class="description" placeholder="Event description">

        <div id="date">
          <select name="day" id="day">
            <% for (let i = 1; i < 32; i += 1){ %>
              <option value="<%= i %>">
                <%= i %>
              </option>
            <% } %>
          </select>
        
          <select name="month" id="month">
            <% for (let i = 0; i < m.length; i += 1) { %>
              <option value="<%= m[i] %>"><%= m[i] %></option>
            <% } %>
          </select>
          
          <select name="year" id="year">
            <% for (let i = y; i < 2101; i += 1) { %>
              <option value="<%= i %>"> 
                <%= i %>
              </option>
            <% } %>
          </select>
        </div>
        
        <div class="container" style="margin: 32px 0 0 0;">
          <div class="imageUpload">
            <div id="file">
              <input type="file" name="file" />
            </div>
          </div>
        </div>
        <input type="submit" id="update-btn" class="btn" value="Create">
      </form>
    </div>
  <% } else { %>
  <form action="/update" id="update" method="POST" enctype="multipart/form-data">
    <input type="hidden" name="id" value="<%= event.id %>" placeholder=" ">
  
    <input type="text" name="name" class="name" value="<%= event.name %>" placeholder="Event name">
    <input type="text" name="description" id="description" class="description" value="<%= event.description %>" placeholder="Event description">
    
    <div id="date">  
      <select name="day" id="day">
        <% for (let i = 1; i < 32; i += 1){ %>
          <option value="<%= i %>"
          <% if (eventDay == i) { %> selected<% } %>>
            <%= i %>
          </option>
        <% } %>
      </select>
        
      <select name="month" id="month">
        <% for (let i = 0; i < 12; i += 1) { %>
          <option value="<%= m[i] %>"
            <% if (eventMonth == m[i]) { %> selected <% } %>>
              <%= m[i] %>
          </option>
        <% } %>
      </select>
  
      <select name="year" id="year">
        <% for (let i = y; i < 2101; i += 1) { %>
          <option value="<%= i %>"
              <% if (eventYear == i) { %> selected <% } %>> 
                <%= i %>
            </option>
          <% } %>
        </select>
      </div>
      
      <div class="imageOptions">
        <input type="checkbox" name="box1" />
        delete image
      </div>
      
      <div class="container">
        <div class="imageUpload">
          <% if (event.image != null) { %>
            <div id="overlay"></div>
            <img src="images/uploads/<%- event.image %>">
          <% } %>
          <div id="file">
            <input type="file" name="file" />
          </div>
        </div>
      </div>
      
      <input type="submit" id="update-btn" class="btn" value="Update">
    
    </form>
          
    <form action="/delete" id="delete" method="POST">
      <input type="hidden" name="id" value="<%= event.id %>" placeholder=" ">
      <input type="submit" id="deleteBtn" class="btn" value="Delete">
    </form>
  <% } %>
  </div>
</body>