<div id="content">
  <div id="grid-container">
    <h2><%= header %></h2>
    <div id="grid">
      <% for (let i = 0; i < events.length; i += 1) { %>
        <div class="grid-item">
          <a href="/event?idEvent=<%= events[i].id %>">
            <div class="container">
              <div class="image">
                <img src="images/uploads/<%- events[i].image %>">
              </div>
              <div class="title">
                <h3>
                  <%= events[i].name %>
                </h3>
              </div>
            </div>
            <p>
              <span><%= events[i].date %></span>
            </p>
          </a>
          </div>
      <% } %>
    </div>
  </div>
</div>