<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatile" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/navbar.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/eventPage.css">
</head>
<body>
<%- include ('navbar') -%>
<div id="content">
  <form action="/updateEvent" id="update" method="POST" enctype="multipart/form-data">
    <input type="hidden" name="idEvent" value="<%= event.id %>" placeholder=" ">

    <input type="text" name="name" class="name" value="<%= event.name %>">
    <input type="text" name="description" id="description" class="description" value="<%= event.description %>">
    <div id="date">
      <select name="day" id="day">
        <% for (let i = 1; i < 32; i += 1){ %>
          <option value="<%= i %>"
            <% if (eventDay == i) { %> selected<% } %>>
              <%= i %>
          </option>
        <% } %>
      </select>
      <select name="month" id="month">
          <% for (let i = 0; i < 12; i += 1) { %>
            <option value="<%= m[i] %>"
              <% if (eventMonth == m[i]) { %> selected <% } %>>
                <%= m[i] %>
            </option>
          <% } %>
        </select>

        <select name="year" id="year">
          <% for (let i = y; i < 2101; i += 1) { %>
            <option value="<%= i %>"
              <% if (eventYear == i) { %> selected <% } %>> 
                <%= i %>
            </option>
          <% } %>
        </select>
    </div>
    <input type="submit" class="updateBtn" value="Update">
    <div class="imageUpload">
      <div class="overlay"></div>
        <img src="/images/<%- event.image %>">
        <input type="file" class="file" name="file">
      </div>
    </form>
      
    <form action="/delete" id="delete" method="POST">
      <input type="hidden" name="idEvent" value="<%= event.id %>" placeholder=" ">
      <input type="submit" class="deleteBtn" value="Delete">
    </form>
  </div>
</body>